#catalogoPrincipal{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#catalogoPrincipal img{
    width: 300px;
    height:350px;
    margin-bottom: 10px;
    border-radius: 15px;
    object-fit: cover;
    transition: all 1s; 
}

#catalogoPrincipal img:hover{

    transform:scale(1.1);
}


.produtoConteiner{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #DDD9CE;
    border: 2px solid #010101;
    border-radius: 13px;
}

.produto h3{
    margin-bottom: 20px;
}

/* .produto p{
    width: 50%;
    margin-bottom: px;
} */

#tituloCatalogo {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: #010101;
}