#catalogoPrincipal{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#catalogoPrincipal img{
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.produtoConteiner{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #DDD9CE;
    border: 2px solid #010101;
    border-radius: 13px;
}

.produto p{
    width: 50%;
    margin-bottom: 10px;
}

#tituloCatalogo {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: #010101;
}