*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
    scroll-behavior: smooth;
}

:root{
    --corFundo1: #AEA897;
    --corFundo2: #6F5F48;
    --corFundo3: #716C59;
    --corTextoPrincipal:#FAF8F2;
    --corTextoParagrafo: #0B0B09;
    --corTextoBranco: #fafafa;
}

header{
    /* position:fixed; */
    width: 100%;
    background-color: var(--corFundo1);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 100px; */
}

#navBarConteiner{
    position: fixed;
}


ul{
    display: flex;
    margin-right: 21px;
}

li{
    display: flex;
    align-items: center;
    margin-right: 12px;
    height: 40px;
    background-color: var(--corFundo2);
    padding: 10px;
    /* border: #000 solid 1px; */
    border-radius: 12px;
    transition: all 0.5s;
}

li:hover{
    background-color: var(--corTextoBranco);
}

#loginItem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    height: 40px;
    width: 100px;
    background-color: #c54047;
    padding: 10px;
    /* border: #000 solid 2px; */
    border-radius: 12px;
    transition: all 0.5s;
}

#loginItem:hover{
    background-color: #1f11e6f5;
}

#loginItem a:hover{
    color: #fafafa;
    
}


section{
    border-top: #000 solid 3px ;
    background-color: var(--corFundo3);
}

img{
    background-attachment: fixed;
    background: no-repeat;
    background-size: cover;
    width: 100%;
}

h1{
    color: var(--corTextoPrincipal);
}
p{
    color: var(--corTextoParagrafo);
}