#sobreConteiner{
    margin: 15px 20px;
    display: flex;
    align-items: center;
    padding: 50px;
    /* justify-content: space-between; */
}

#sobreConteiner h1{
    font-size: 150px;
    text-align: left;
    width: 50%;  
}

#sobreConteiner p{
    font-size: 35px;
    width: 50%;
}
