#introducao{
    margin: 15px 20px;
}

#introducao h1{
    font-size: 70px;
    text-align: left;
}
 #introducao p{
    font-size: larger;
 }









#sobre{
    width: 100%;
    padding: 10px 10px 15px 10px; 
}

.odsConteiner{
    display: flex;
    flex-flow: wrap;
    padding: 20px;
    gap: 12px;
}

.ods{
    display: flex;
    /* flex-direction: row-reverse; */
    background-color: var(--corFundo2);
    padding: 20px;
    border-radius: 20px;

}
.reverse{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--corFundo2);
    padding: 20px;
    border-radius: 20px;

}

/* #sobre h1{
    font-size: var(--fonteTitulo);
    margin-bottom: 100px;
    background-color: green;
    text-align: center;
    display: flex;
    flex-direction: column;   
    border: 2px solid black;
    border-radius: 15px;
    flex-direction: column; 
    
} */


